###<font color = 'bisque'> Introduction à Pandas

Pandas est une bibliothèque Python renommée, offrant des structures de données flexibles et des outils d’analyse de données efficaces. Elle est particulièrement adaptée au traitement des données financières et est très prisée des analystes financiers. Pandas fonctionne sur la plateforme NumPy, un pilier des calculs scientifiques en Python.

###<font color = 'bisque'>Installing and Importing Pandas

In [ ]:
# !pip install pandas

In [ ]:
# importer pandas

###<font color = 'bisque'>DataFrame et Series

Au cœur de Pandas se trouvent les objets DataFrame et Series. Un DataFrame est un tableau de données bidimensionnel, ressemblant à une table de base de données ou à une feuille Excel. Une Series, quant à elle, est un tableau unidimensionnel, semblable à une liste ou à une colonne dans un DataFrame. Les deux possèdent des Index qui, s'ils ne sont pas spécifiés, sont par défaut des nombres de 0 à la taille du jeu de données, attribuant ainsi un index à chaque ligne.

![pandas_dataframe65415_091e4118ff.png]()

In [ ]:
# dictionnaire de données
data = {
    "date": ["2022-01-01", "2022-01-02", "2022-01-03", "2022-01-04", "2022-01-05", "2022-01-06", "2022-01-07"],
    "open": [100.0, 101.0, 102.0, 103.0, 104.0, 105.0, 106.0],
    "close" : [150.0, 151.0, 152.0, 153.0, 154.0, 155.0, 156.0],
    "volume": [1000, 1200, 1300, 1250, 1100, 1250, 1350]
}
# stocker les données dans un dataframe

# Afficher le dataframe

####<font color = 'tomato'> Quelques fonctionnalités utiles

In [ ]:
# dimension des données

In [ ]:
# infos des données

####<font color = 'tomato'> Selection de lignes ou colonnes (slicing)

In [ ]:
# Sélection directe

# sélection de colones avec loc ou iloc

# sélection de lignes avec loc ou iloc

In [ ]:
# Sélection par condition

###<font color = 'bisque'> Lecture des données à partir de fichiers CSV ou Excel

Les données financières sont généralement stockées dans des fichiers CSV ou Excel. Les CSV sont des données tabulées où les entrées sont séparées par des virgules ou d'autres délimiteurs. Pandas simplifie le processus de lecture de ces fichiers dans des DataFrames :

![pandas8484_742250827b.png]()

In [ ]:
# importer les données

| **Variable**           | **Description (FR)**                                                                 |
| ---------------------- | ------------------------------------------------------------------------------------ |
| `TransactionId`        | Identifiant unique de la transaction sur la plateforme                               |
| `BatchId`              | Numéro unique attribué à un lot de transactions pour le traitement                   |
| `AccountId`            | Numéro unique identifiant le client sur la plateforme                                |
| `SubscriptionId`       | Numéro unique identifiant l’abonnement du client                                     |
| `CustomerId`           | Identifiant unique attaché au compte                                                 |
| `CurrencyCode`         | Devise du pays                                                                       |
| `CountryCode`          | Code géographique numérique du pays                                                  |
| `ProviderId`           | Fournisseur source de l’article acheté                                               |
| `ProductId`            | Nom de l’article acheté                                                              |
| `ProductCategory`      | Les ProductId sont regroupés dans ces grandes catégories de produits                 |
| `ChannelId`            | Indique si le client a utilisé le web, Android, iOS, le paiement différé ou checkout |
| `Amount`               | Valeur de la transaction. Positive pour les débits, négative pour les crédits        |
| `Value`                | Valeur absolue du montant                                                            |
| `TransactionStartTime` | Heure de début de la transaction                                                     |
| `PricingStrategy`      | Catégorie de la structure tarifaire de Xente pour les marchands                      |

In [ ]:
# Afficher les données en utilisant head ou tail

In [ ]:
# dimension des données

In [ ]:
# infos des données

###<font color = 'bisque'>Exploration et prepartion des données

La colonne time contient des nombres très grands.Il s'agit de dates au format timestamp. Les nombres représentent les secondes écoulées depuis 1970. Heureusement, pandas dispose d'une méthode pour convertir ces nombres en dates :

In [ ]:
# convertir la variable TransactionStartTime
df["TransactionStartTime"] = pd.to_datetime(df["TransactionStartTime"], unit ='s' )
df.head()

In [ ]:
# récupérer la date, l'heure, le jour et le mois des transactions
df['Date'] = df['TransactionStartTime'].dt.date
df['Hour'] = df['TransactionStartTime'].dt.hour
df['Day'] = df['TransactionStartTime'].dt.day
df['Month'] = df['TransactionStartTime'].dt.month

Maintenant que les dates sont lisibles, nous pouvons remplacer nos index par défaut (1, 2, 3…). Une fois cela fait, nous n'aurons plus besoin de notre colonne TransactionStartTime et pourrons la supprimer.

In [ ]:
# remplacer les index par la date

# supprimer la colonne TransactionStartTime

In [ ]:
# sélectionner les variables quantitatives

In [ ]:
# analyse descriptive des variables quantitatives

La variable CountryCode n'a qu'une seule variable.

In [ ]:
# supprimer la variable CountryCode

In [ ]:
# sélectionner les variables catégorielles

In [ ]:
# analyse descriptive des variables catégorielles

In [ ]:
# Supprimer la variable TransactionId et CurrencyCode

In [ ]:
# Nombre d'observations de chaque catégorie de la variable ProductCategory

In [ ]:
# somme des revenus par ProductCategory en utilisant groupby
revenue_per_category_s = df.groupby('ProductCategory')['Value'].sum().sort_values(ascending=False)
# moyenne des revenus par ProductCategory
revenue_per_category_m = df.groupby('ProductCategory')['Value'].mean().sort_values(ascending=False)

In [ ]:
# transactions par jour
transactions_per_day = df.groupby('Date').size()
transactions_per_day

In [ ]:
# Revenus globaux

In [ ]:
# Transactions rentables vs non rentables

In [ ]:
# Marge brute par transaction

In [ ]:
#  Marge brute totale par catégorie

In [ ]:
# Marge moyenne par mois

In [ ]:
# Taux de rentabilité par catégorie

In [ ]:
# Analyse des remboursements ou transactions à perte

In [ ]:
# Clients les plus rentables

###<font color = 'bisque'> Maîtriser vos Données


Pour cet exercice, nous allons analyser des données liées au tragique voyage du Titanic. Vous pouvez trouver un fichier CSV représentant chacun des passagers du Titanic, incluant leurs noms, sexes, classes (Pclass), âges et d'autres informations ici :

*********************************************************************
Commencez par télécharger le fichier CSV. Placez-le dans le répertoire de votre projet, importez Pandas, et chargez le CSV dans un DataFrame :

In [ ]:
# Importer les données
df = pd.read_csv('TITANIC.csv')

####<font color = 'tomato'> Questions

1. Afficher les dix premières lignes du jeu de données pour en avoir un aperçu.

2. Déterminer les dimensions du jeu de données (c’est-à-dire le nombre de lignes et de colonnes).

3. Compter le nombre de passagers dans chaque classe (Pclass).

4. Calculer l'âge moyen des passagers. Identifier le passager le plus jeune et le plus âgé par leur nom.

5. Déterminer combien de passagers ont survécu et combien sont décédés.

6. Compter le nombre de passagers masculins et féminins à bord du Titanic.

7. Combien d’hommes et de femmes ont survécu ?

8. Quel est le taux de survie par classe ?

9. Ajouter une nouvelle colonne 'FamilySize' qui additionne les colonnes SibSp (nombre de frères/sœurs/époux à bord) et Parch (nombre de parents/enfants à bord).

10. Identifier le passager décédé ayant la plus grande famille à bord.